.env

__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
dist/
build/

/external/
/data/*
!/data/evaluation/
!/data/evaluation/**
checkpoints/
outputs/
*.bin
*.safetensors
*.gguf
*.pt

.ipynb_checkpoints/

.vscode/settings.json
.idea/

*.out
wandb/